// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;


// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
        "farve": #dd9e25,
        "orange": #f19f01,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...
.btn-custom {
  width: 75%;
}

.btn-custom2 {
  width: 50%;
}

@media (min-width: 768px) {
  .btn-custom {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .btn-custom {
    width: 50%;
  }
}

/* Standardbillede uden kant */
.kage-billede {
  transition: border 0.3s ease, transform 0.3s ease;
}

/* Når radio-knappen er valgt, vis en orange kant om billedet */
input[type="radio"]:checked + div img {
  border: 4px solid #f19f01; /* Orange kant */
  border-radius: 10px; /* Afrundede kanter */
  transform: scale(1.05); /* Lidt forstørrelse for effekt */
}
