// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;


// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
        "primary": #f19f01,
        "haha": #ee17ff,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...
.btn-custom {
  width: 75%;
}

.btn-custom2 {
  width: 50%;
}

@media (min-width: 768px) {
  .btn-custom {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .btn-custom {
    width: 50%;
  }
}

/* Standard stil for billeder */
.kage-valg img {
  transition: 0.3s ease-in-out;
  border: 3px solid transparent; /* Ingen kant som standard */
  border-radius: 10px;
}

/* Når radio-knappen er valgt, får billedet en kant */
.kage-valg input:checked + img {
  border: 3px solid #ff8800; /* Orange kant når valgt */
  box-shadow: 0 0 10px rgba(255, 136, 0, 0.5); /* Blød skygge */
}
